@import '../../App.scss';

.about-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: 1%;
    transform: translateY(30%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;

    h1 {
      font-size: 50px;
      font-family: $primary-font;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      color: $salmon !important;
      letter-spacing: 2px;
    }

    p {
      font-family: 'Roboto', sans-serif;
      line-height: 35px;
      font-size: 25px;
    }
  }

  .text-animate-hover {
    &:hover {
      color: $soft-peach;
    }
  }

  .right-side {
    position: absolute;
    left: 55%;
    top: 20%;
  }
}

// Responsiveness

@media screen and (max-width: 1600px) {
  .text-zone {
    top: -300px !important;
  }

  .right-side {
    position: absolute;
    left: 45% !important;
    top: 5% !important;
  }
}

@media screen and (max-width: 1350px) {
  .text-zone {
    position: relative;
    // bottom: 800px !important;
    left: 200px !important;

    h1 {
      // right: 120px;
    }
  }

  .text-zone p {
    font-size: 20px !important;
  }

  .right-side {
    position: absolute;
    left: 45% !important;
    top: 5% !important;
  }
}

@media screen and (max-width: 1024px) {
  .text-zone {
    position: relative;
    width: 70% !important;

    h1 {
      left: -60px;
    }
  }

  .text-zone p {
    font-size: 18px !important;
  }

  .right-side {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .about-page {
 
    top: 70%;
    left: -100px;

    h1 {
      left: 0px;
    }
  }

  .text-zone {
    padding: 60px;
  }
}

@media screen and (max-width: 480px) {
  // .about-page {
  //   right: 100px;
  // }
}

@media screen and (max-width: 400px) {
}
