.mobile-nav-wrapper {
  color: white;
  overflow: hidden;
  position: absolute;
  right: 30px;
  top: 20px;
  z-index: 999;
}

#icons {
  font-size: 48px;
  text-decoration: none;
  color: white;

  #icons:hover {
    color: white;
  }
}

.mobile-links {
  color: black;
  text-decoration: none;
}
