@import '../../App.scss';

// Left side
.animation-wrapper {
  position: absolute;
  left: 20%;
  top: 20%;
  z-index: 1;
}
.contact-page-logo {
  font-size: 400px !important;
  color: $salmon;
}

.container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
  font-family: $primary-font;
}

.container .inner {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

.container .inner .panel {
  position: relative;
  box-sizing: border-box;
  height: 100%;
  width: 60%;
  float: left;
  transform: skew(-20deg);
}

.container .inner .panel.panel-left {
  margin-left: -10%;
}

.container .inner .panel .panel-content {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 30%;
  top: 20%;
  transform: translateX(-50%) translateY(-50%) skew(20deg);
}

.container .inner .panel.panel-right {
  margin-right: -10%;
  background: #060e1e;
}

.container .inner .panel.panel-right .panel-content .form {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 300px;
  min-height: 400px;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-25%);
}

.container .inner .panel.panel-right .panel-content .form {
  display: block;
  margin: 0 0 45px 0;
  color: #b1b1b1;
  font-weight: 200;
  font-size: 18px;
}

// Contact title
h1 {
  color: white !important;
  font-size: 24px;
  margin-bottom: 50px;
}

.group {
  position: relative;
  margin-bottom: 25px;
}

.message-wrapper {
  flex-direction: column;
}

.message-box {
  margin-left: 100px;
  height: 150px;
  width: 100%;
  position: relative;
  top: 55px;
  right: 95px;
}

textarea {
  text-decoration: none;
  outline: none;
  font-size: 16px;
  overflow: auto;
  resize: none;
}

input {
  font-size: 16px;
  height: 25px;
  padding: 10px 10px 10px 5px;
  display: block;
  width: 300px;
  border: none;
  outline: none;
  border-bottom: 1px solid #b1b1b1;
  color: #b1b1b1;
  background: rgba(0, 0, 0, 0) !important;
  opacity: 0.5;
  transition: 0.2s ease;
  background: none;
}

input:focus {
  outline: none;
  opacity: 1;
  font-family: 'Roboto', sans-serif;
}

.input-2 {
  margin-bottom: 50px;
}
.input-3 {
  margin-bottom: 50px;
}
.input-4 {
  margin-bottom: 50px;
}
.input-5 {
  margin-bottom: 50px;
}

label {
  color: #b1b1b1;
  font-size: 16px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 15px;
  opacity: 0.5;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

/* active state */
input:focus ~ label,
input:valid ~ label {
  top: -25px;
  font-size: 12px;
  color: #b1b1b1;
  opacity: 1;
}

textarea {
  background-color: white;
  opacity: 0.7;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}

textarea:focus {
  opacity: 1;
}

textarea:focus + label {
  color: #b1b1b1;
  opacity: 1;
}

.highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

/* active state */
input:focus ~ .highlight {
  -webkit-animation: inputHighlighter 0.3s ease;
  -moz-animation: inputHighlighter 0.3s ease;
  animation: inputHighlighter 0.3s ease;
}

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #b1b1b1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@-moz-keyframes inputHighlighter {
  from {
    background: #b1b1b1;
  }
  to {
    width: 0;
    background: transparent;
  }
}
@keyframes inputHighlighter {
  from {
    background: #b1b1b1;
  }
  to {
    width: 0;
    background: transparent;
  }
}

// Send button
button {
  font-family: inherit;
  font-size: 20px;
  background: #3e1d60;
  color: white;
  padding: 0em 2em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  transition: all 0.2s;
  cursor: pointer;
  margin-top: 100px;
  display: flex;
  letter-spacing: 1px;
}

button span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

button svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

button:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

button:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

button:hover span {
  transform: translateX(5em);
}

button:active {
  transform: scale(0.95);
}

// ALert for success email sent
.alert {
  font-size: 20px !important;
  margin-bottom: 50px !important;
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

// Responsiveness

@media screen and (max-width: 1200px) {
  .contact-page-logo {
    font-size: 300px !important;
  }

  form {
    h1 {
      font-size: 18px !important;
      margin-left: 120px;
    }
  }
}

@media screen and (max-width: 1024px) {
  form {
    h1 {
      font-size: 20px !important;
      margin-left: 60px;
    }
  }

  .contact-page-logo {
    font-size: 200px !important;
  }

  .panel-content {
    left: 40% !important;
  }

  input {
    width: 170px !important;
  }

  textarea {
    width: 170px !important;
  }

  input:focus {
    outline: none;
    opacity: 1;
    font-family: 'Roboto', sans-serif;
  }
}

@media screen and (max-width: 768px) {
  .inner {
    position: relative;
    left: 100px !important;
  }

  h1 {
    font-size: 20px !important;
    margin-left: 0px;
  }

  .animation-wrapper {
    position: absolute;
    left: 30%;
    top: -8%;
  }

  .container .inner .panel.panel-right {
    background: $background !important;
  }

  .contact-page-logo {
    font-size: 150px !important;
  }

  .panel-content {
    left: -25% !important;
  }
  .animation-wrapper {
    display: none !important;
  }
}

@media screen and (max-width: 480px) {
  .inner {
    position: relative;
    left: 70px !important;
    bottom: 60px !important;

    form {
      h1 {
        position: relative;
        top: 40px !important;
        left: 20px !important;
      }
    }

    button {
      // padding-bottom: 20px;
      position: relative;
      left: 15px;
      bottom: 35px;
    }
  }

  .animation-wrapper {
    display: none !important;
  }
}
