@import '../../App.scss';

// STYLES FOR MOBILE

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;

  .typing-text {
    position: absolute;
    .portfolio-title {
      width: 100%;
      font-size: 1rem;
      text-align: center;
      margin-top: 85px;
      font-size: 1.4rem;
      text-transform: capitalize;
      font-family: $secondary-font !important;
    }
    .portfolio-title span {
      font-family: $secondary-font !important;
    }
  }

  .left-right-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 160px;
  }

  // T animation section
  .t-animation-wrapper {
  }

  // White text section text
  .text {
    div {
      color: $soft-peach;
      font-family: $secondary-font;
      margin-bottom: 10px;
    }
  }

  .text {
    width: 100%;
    text-align: center;
    margin-top: 50px;

    // Orange text
    .frontend-react-dev {
      color: $salmon;
      font-family: $secondary-font;
      letter-spacing: 3px;
      animation: fadeIn 1s 1.8s backwards;
      margin-bottom: 20px;
      margin-top: 20px;
    }

    // Contact me button
    a {
      @include primary-cta-control;
      margin-top: 20px;
      z-index: 10;
      position: relative;
      text-align: center;
      line-height: 1.2;
      min-width: 200px;
      padding: 0.95rem 1.4rem;
      margin-bottom: 1.5em;
      animation: fadeIn 1s 1.8s backwards;
    }

    a:hover {
      @include primary-cta-control-hover;
    }
  }
}

// STYLES FOR TABLETS

@media screen and (min-width: 768px) {
  .home-page {
    .typing-text {
      .portfolio-title {
        font-size: 2.4rem;
      }
    }

    // T animation section
    .t-animation-wrapper {
      margin-bottom: 500px;
    }

    // White text section text
    .text {
      bottom: 140px;
      div {
        color: $soft-peach;
        font-family: $primary-font;
        margin-bottom: 10px;
        font-size: 2rem;
      }
    }
  }
}

// DESKTOPS
@media screen and (min-width: 1025px) {
  .home-page {
    .typing-text {
      .portfolio-title {
        font-size: 32px !important;
      }
    }

    .left-right-wrapper {
      flex-direction: row;
      position: relative;
      margin-left: 200px;
      bottom: 100px;
    }

    .t-animation-wrapper {
      position: relative;
      top: 100px;
    }

    .text {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      position: relative;

      div {
        text-align: start;
        font-size: 28px;
      }
    }
  }
}

// LARGE SCREEN DESKTOPS
@media screen and (min-width: 1600px) {
  .home-page {
    .typing-text {
      .portfolio-title {
        font-size: 52px !important;
      }
    }

    .left-right-wrapper {
    }

    .t-animation-wrapper {
    }

    .text {
      div {
        font-size: 48px;
      }
    }
  }
}
