@import '../../App.scss';

.projects-page {
  // overflow: scroll !important;
}

// Title

.project__title__wrapper {
  width: calc(100% - 90px);
  z-index: 1;
  position: absolute !important;
}

.project__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  letter-spacing: 2px;
  color: $salmon !important;
  position: relative;
  top: -100px;

  h1 {
    width: 100%;
  }
}

.card__face h1 {
  font-family: $secondary-font !important;
}

// Star animation background
.background {
  justify-content: center;
  align-content: center;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: calc(100% - 200px);
  height: 100%;
  z-index: -1;

  mask-image: radial-gradient(
    white 0%,
    white 30%,
    transparent 80%,
    transparent
  );
}

.circle-container {
  $particleNum: 200;
  $particleColor: hsl(180, 100%, 80%);

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );

    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: 'move-frames-' + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
            #{random(100) + vw},
            #{$startPositionY + vh},
            0
          );
        }

        to {
          transform: translate3d(
            #{random(100) + vw},
            #{- $startPositionY - random(30) + vh},
            0
          );
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}

// Cards
.projects-page {
  .scene {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 11%;
    z-index: 1;

    .cards {
      // border: 1px solid red;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 85%;
      height: auto;
      grid-gap: 10%;
    }

    .card-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-decoration: none;
      margin-top: -100px;

      .project-title {
        position: relative;
        top: 30px;
      }

      a {
        text-decoration: none;
        h1 {
          font-family: $secondary-font;
          font-size: 28px;
          letter-spacing: 1px;
          text-decoration: none;
          background-image: linear-gradient($salmon, $salmon);
          background-size: 0% 0.1em;
          background-position-y: 100%;
          background-position-x: 0%;
          background-repeat: no-repeat;
          transition: background-size 0.2s ease-in-out;
        }

        h1:hover,
        h1:focus,
        h1:active {
          background-size: 100% 0.1em;
        }
      }
    }

    .card {
      position: relative;
      width: 600px;
      height: 450px;
      color: white;
      cursor: pointer;
      transition: 0.5s ease-in-out;
      transform-style: preserve-3d;
      &:hover {
        // transform: rotateY(0.5turn);
        opacity: 0.5 !important;
      }

      .card__face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 2s ease-in-out;
        -webkit-box-reflect: below 0
          linear-gradient(transparent, transparent, rgba(0, 0, 0, 0));

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .bottom {
    height: 50px;
  }
}

// Responsiveness

@media screen and (max-width: 2400px) {
  .cards {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}

@media screen and (max-width: 1600px) {
  .card {
    width: 500px !important;
    height: 350px !important;
    z-index: 1;
  }
}

@media screen and (max-width: 1250px) {
  .project__title {
    left: 0;
    top: -65px;
    position: relative;
    font-size: 35px !important;
  }

  .project-title-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    h1 {
      left: 0;
      right: 0;
      top: 0;
      margin-right: 0;
      margin-left: 0;
    }
  }

  .project-title {
    font-size: 28px !important;
    display: flex;
  }

  .cards {
    grid-template-columns: repeat(1, 1fr) !important;
    display: grid;
    width: 80%;
    grid-gap: 5% !important;
    display: flex;
  }
}

@media screen and (max-width: 768px) {
  .project__title__wrapper {
    width: 100% !important;
    display: flex !important;
    text-align: center;
  }

  .project__title {
    top: -10px !important;
    text-align: center !important;
  }

  .scene {
    width: 100%;
    top: 20% !important;
  }
  .cards {
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .card-wrapper {
    margin-top: -80px !important;
  }

  .card {
    width: 320px !important;
    height: 290px !important;
  }

  .project-title-wrapper{
    text-align: center;
    position: relative;
    top: 30px;
  }

  .project-title {
    font-size: 18px !important;
  }
}

@media screen and (max-width: 480px) {
  .card {
    width: 220px !important;
    height: 190px !important;
  }

  // .scene {
  //   left: 5% !important;
  // }
  // .long {
  //   position: relative;
  //   left: 35px;
  // }
}

@media screen and (max-height: 700px) {
  .project__title_wrapper {
    position: relative;
    bottom: 35px !important;
  }

  // .cards {
  //   position: relative;
  //   left: 15px;
  // }

  // .long {
  //   position: relative;
  //   left: 20px;
  // }
}
