@import '../../App.scss';

.projects-page {
  overflow: scroll !important;
}

.container2 {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

// Title
.project__title {
  position: absolute;
  left: 45.6%;
  font-size: 50px;
  top: -80px;
  margin-top: 40px;
  letter-spacing: 2px;
  color: $salmon !important;
}

// Star animation background
.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;

  mask-image: radial-gradient(
    white 0%,
    white 30%,
    transparent 80%,
    transparent
  );
}

.circle-container {
  $particleNum: 200;
  $particleColor: hsl(180, 100%, 80%);

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );

    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: 'move-frames-' + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
            #{random(100) + vw},
            #{$startPositionY + vh},
            0
          );
        }

        to {
          transform: translate3d(
            #{random(100) + vw},
            #{- $startPositionY - random(30) + vh},
            0
          );
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}

// Cards
.projects-page {
  .scene {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 8%;
    left: 10%;

    .cards {
      // border: 1px solid red;

      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 80%;
      height: auto;
      grid-gap: 13%;
      margin-left: 4%;
    }

    .card {
      position: relative;
      width: 360px;
      height: 450px;
      color: white;
      cursor: pointer;
      transition: 1s ease-in-out;
      transform-style: preserve-3d;

      &:hover {
        transform: rotateY(0.5turn);
      }

      .card__face {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transition: 2s ease-in-out;
        -webkit-box-reflect: below 0
          linear-gradient(transparent, transparent, rgba(0, 0, 0, 0));

        img {
          width: 360px;
          height: 450px;
          object-fit: cover;
        }

        &--back {
          transform: rotateY(0.5turn);
          /* From https://css.glass */
          background: rgba(255, 255, 255, 0.2);
          box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
          backdrop-filter: blur(20px);
          -webkit-backdrop-filter: blur(20px);
          border: 1px solid rgba(255, 255, 255, 0.3);

          .project-title {
            letter-spacing: 2px;
            color: $salmon !important;
          }
        }
      }
    }
  }
}
