@import '../../App.scss';

.skills-page {
  .text-zone {
    position: absolute;
    left: 10%;
    top: -10%;
    transform: translateY(50%);
    width: 35%;
    vertical-align: middle;
    display: table-cell;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 50px;
      font-family: $primary-font;
      margin-top: 0;
      position: relative;
      margin-bottom: 40px;
      color: $salmon !important;
      letter-spacing: 2px;
    }

    .sentence {
      font-family: $secondary-font;
      font-size: 36px !important;
    }

    p {
      font-family: 'Roboto', sans-serif;
      line-height: 35px;
      font-size: 25px;
    }
  }

  .text-animate-hover {
    &:hover {
      color: $soft-peach;
    }
  }

  .skills-right-side {
    position: absolute;
    left: 20%;
    top: 35%;
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-gap: 100px;
    transition: 2s;

    .skills-icons {
      transition: transform 0.8s;
      transform-style: preserve-3d;
    }
    .skills-icons:hover {
      transform: scale(1.23);
    }
  }
  .individual-project-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      font-size: 20px;
      font-family: $secondary-font;
      margin-top: 30px;
    }
  }
}
